{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Add Lesson

{% endblock %}


{% block content %}


    <article>

        <h3>Add new lesson</h3>

        <form action="/addLesson" method="POST">
            <fieldset role="group">
                <input
                    type="text"
                    name="name"
                    placeholder="Lesson Name"
                    required
                />

                <input
                    type="text"
                    name="time"
                    placeholder="Time in 24hr time (E.g. 13:00)"
                    required
                />
            
                <select name="day" aria-label="Select Day" required>
                    <option selected disabled value="">
                      Select Day
                    </option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                </select>
            </fieldset>

            <input
                type="text"
                name="description"
                placeholder="Description of the lesson"
            >
            
            <input type="submit" value="Add the Lesson"/>
        </form>

    </article>

{% endblock %}

