{#=====================================================
  Add Lesson Page
  - Form for adding a new lesson
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Add Lesson

{% endblock %}


{% block content %}


    <article class="formArticle">

        <h3>Add new lesson</h3>

        <form action="/addLesson" method="POST">
            <fieldset role="group">
                <input class="formInputs"
                    type="text"
                    name="name"
                    placeholder="Lesson Name"
                    required
                />

                <input class="formInputs"
                    type="time"
                    name="time"
                    placeholder="Select Time"
                    required
                />
            
                <select class="formInputs" name="day" aria-label="Select Day" required>
                    <option selected disabled value="">
                      Select Day
                    </option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                </select>
            </fieldset>

            <input class="formInputs"
                type="text"
                name="description"
                placeholder="Description of the lesson"
            >
            
            <input class="primaryButton" type="submit" value="Add the Lesson"/>
        </form>

    </article>

{% endblock %}

