{#=====================================================
  Base template
  - Used as the basis of all pages
  - Provides a main heading and navigation menu
  - Has blocks for the page title and main content
  - Loads PicoCSS and Pico Colours
  - Loads a user stylesheet
  - Loads JS utility functions
  - Loads custom JS function
  - Includes block for flash messages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="dark">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/images/icon.svg">

	<title>{% block title %}{% endblock %}</title>

    <script src="/static/js/utils.js"></script>
    <script src="/static/js/script.js"></script>

    <link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.slate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
</head>

<body>

    <header>
        <nav>
            <ul>
                <li><strong><a href="/" id="page_title">LESSON PLANNER</a></strong></li>
            </ul>

            <ul id="nav_links">
                <li><a href="/"><img src="/static/images/HomeIcon.png" class="nav_image" alt="Home_icon">Home</a></li>
                <li><a href="/addlesson"><img src="/static/images/AddIcon.png" class="nav_image" alt="New_Lesson_icon">Add Lesson</a></li>
                <li><a href="/resources"><img src="/static/images/ResourcesIcon.png" class="nav_image" alt="Resources_icon">Resources</a></li>
            </ul>
        </nav>
    </header>


    {# Show flash messages from any previous events #}
    {% include "components/messages.jinja" %}


    <main>

        {% block content %}
        {% endblock %}

    </main>


    {# Show debug info. Comment this out if not needed #}
    {% include "components/debug.jinja" %}

</body>

</html>

