{#=====================================================
  Day page
  - Shows lessons for a single day with details
  - Has a delete link to remove lessons
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Lesson Planner - {{ day.name }}

{% endblock %}


{% block content %}
    

    <section id="DayHeader">
        <h1>{{ day.date }}</h1>
        <h1>{{ day.name }}</h1>
    </section>
    
    
    <article>   
        {% for lesson in lessons %}      

            <button id="{{ lesson.id }}" class="dropbtn" onclick='dropdown({{ lesson.id }})'>
                {{ lesson.time | nicetime }} {{ lesson.name }} <img src="/static/images/dropdown-arrow.svg" alt="Dropdown arrow" id="{{ lesson.id }}" class="dropdownarrow">
            </button>

            <article id="{{ lesson.id }}" class="DropdownCollapsed">
                {{ lesson.description }}
                <h4>Resources:</h4>
                <ul>
                    {% for resource in resources %}

                        {% if resource.lesson_id == lesson.id %}

                            <li>
                                <a href="{{ resource.link }}" target="_blank" rel="noopener noreferrer"> {{ resource.name }}</a>
                            </li>
                            
                        {% endif %}

                    {% else %}

                        <p>No Lessons</p>     

                    {% endfor %}
                    <a type="button" href="/resources/">View all</a>   
                </ul>
                <a type="button" href="/delete/{{ lesson.id }}{{ day.code }}"  onclick="return confirm('Are you sure you want to delete this lesson?');">Remove Lesson</a>
            </article>
            
        {% else %}

            <p>None!</p>
        
        {% endfor %}
    </article>


{% endblock %}

