{#=====================================================
  Day page
  - Shows lessons for a single day with details
  - Has a delete link to remove lessons
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Lesson Planner - {{ day.name }}

{% endblock %}


{% block content %}
    

    <section id="DayHeader">
        <h1 class="uppercase primaryText">{{ day.code }}</h1>
        <h1 class="defaultText">{{ day.name }}</h1>
    </section>

    {% for lesson in lessons %}      
        <button id="{{ lesson.id }}" class="dropbtn" onclick='dropdown({{ lesson.id }})'>
            {{ lesson.time | nicetime }} {{ lesson.name }} <img src="/static/images/dropdown-arrow.svg" alt="Dropdown arrow" id="{{ lesson.id }}" class="dropdownarrow">
        </button>
        <article id="{{ lesson.id }}" class="DropdownCollapsed">
            <p class="lessonDesc">{{ lesson.description }}</p>
            <article class="resources">
                <h4>Resources:</h4>

                {% set lesson_resources = resources | selectattr('lesson_id', 'equalto', lesson.id) | list %}
                <ul>
                    {% if lesson_resources %}
                        {% for resource in lesson_resources %}
                            <li><a href="{{ resource.link }}" target="_blank" rel="noopener noreferrer">{{ resource.name }}</a></li>
                        {% endfor %}
                    {% else %}
                        <p>No Resources</p>
                    {% endif %}
                    <a type="button" href="/resources/">View all</a>  
                </ul>
            </article>
            <a type="button" href="/delete/{{ lesson.id }}/{{ day.code }}"  onclick="return confirm('Are you sure you want to delete this lesson?');">Remove Lesson</a>
        </article>
        
        <div class="gap"></div>
    {% else %}
        <p>None!</p>
    
    {% endfor %}



{% endblock %}

