{#=====================================================
  Home page
  - Week display
  - Lists lessons for each day
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Lesson Planner

{% endblock %}


{% block content %}

    <article>
        {% for day in days %}

            <article class="day_article" onclick="location.href='/day/{{ day.code }}'">
                <h2>{{ day.name }}</h2>
                {% for lesson in lessons %}

                    {% if lesson.day_code == day.code %}

                        <p>{{ lesson.time | nicetime }} {{ lesson.name }}</p>

                    {% endif %}

                {% else %}

                    <p>No Lessons</p>  

                {% endfor %}
            </article>

        {% else %}

            <p>None!</p>

        {% endfor %}

    </article>

{% endblock %}

