{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}
       <h1>DAYS</h1>


    <article>

        <ul>
            {% for day in days %}

                <li>
                    <a href="/day/{{ day.code }}">
                        {{ day.name }}
                        <article>
                            <ul>
                                {% for lesson in lessons %}
                                    {% if lesson.day_code == day.code %}
                                        <li>{{ lesson.time }} {{ lesson.name }}</li>
                                    {% endif %}
                                {% else %}
                                    <p>No Lessons</p>                                
                                {% endfor %}

                                
                            </ul>
                        </article>
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

{% endblock %}

