{#=====================================================
  Resources Page
  - Lists all resources
  - Form to add new resources
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Lesson Planner - Resources

{% endblock %}


{% block content %}

    <h1>Resources</h1>

    <article>
        {% for resource in resources %}
            <article>
                <p class="resource">
                    {{ resource.name }}
                    <a href="{{ resource.link }}" target="_blank" rel="noopener noreferrer"> {{ resource.link }}</a>

                    {% for lesson in lessons %}

                        {% if lesson.id == resource.lesson_id %}

                            Lesson: {{ lesson.name }}

                        {% endif %}

                    {% endfor %}

                    
                </p>
                <p>{{ resource.notes }}</p>

                <a role="button" href="/remove/{{ resource.id }}" onclick="return confirm('Are you sure you want to delete this lesson?');">Remove Resource</a>
            </article>
            

        {% else %}

            <p>No Lessons</p> 

        {% endfor %}
    </article>
    <article> 
        <h3>Add new resource</h3>

        <form action="/addResource" method="POST">
            <fieldset role="group">
                <input
                    type="text"
                    name="name"
                    placeholder="Resource Name"
                    required
                />
            
                <select name="lesson" aria-label="Select Lesson" required>
                    <option selected disabled value="">
                      Select Lesson
                    </option>
                    {% for lesson in lessons %}

                        <option>{{ lesson.name }}</option>

                    {% endfor %}
                </select>
            </fieldset>
            
            <input
                type="text"
                name="link"
                placeholder="Paste Resource Link"
                required
            />

            <input
                type="text"
                name="notes"
                placeholder="Short Note For Resource"
            >

            <input type="submit" value="Add the Resource"/>
        </form>
    </article>
{% endblock %}

