/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/

/* COLOUR SCHEME */

:root {
    --background-colour: #05040A;
    --text-colour: #EDEBF5;
    --primary-colour: #A899DF;
    --secondary-colour: #38228D;
    --accent-colour: #5B39DB;
  }

/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

/* ALL PAGES ------------------------------------------------ */

html{
    background-color: var(--background-colour);
}


header{
    background-color: #13111D;
    min-width: 100%;
    padding: 20px !important; 
    /* !important tag overrides pico css */
}

nav{
    width: 100%;
}

.nav_image{
    height: 2rem;
    display: block;
    margin: 0 auto; 
    margin-bottom: 5px; 
}

nav ul#nav_links li{
    width: 6.5rem;
    text-align: center;
}

nav a{
    color: var(--primary-colour);
}

#page_title{
    font-size:xx-large;
}

.primaryText{
    color: var(--primary-colour);
}   

.defaultText{
    color: var(--text-colour);
}

.uppercase{
    text-transform: uppercase;
}



/* HOME PAGE -------------------------------------------------*/

.week_viewer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-colour);
}

.day_article{
    background-color:#13111D ;
    width: auto;
}

@media screen and (min-width: 700px) {
    .week_viewer{
        flex-direction: row;
    }
    
    .day_article{
        min-height: 30rem;
        width: 19%;
    }     
}


.day_article:hover{
    background-color: #221f35 ;
}

.day_long {
    display: none;
}

.day_short {
    display: inline;
}

@media screen and (min-width: 1536px) {
    .day_long {
        display: inline;
    }
    
    .day_short {
        display: none;
    }
}

.lesson_display {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.lesson_display .lesson_time {
    color: var(--primary-colour);
    font-size: 0.8em;
    border-top: 2px solid var(--primary-colour);
}

.lesson_display .lesson_name {
    font-weight: bold;
    color: var(--text-colour);
}

h1{
    color: var(--text-colour);
}


/* DAY -------------------------------------------------------*/

section#DayHeader {
    display: flex;
    gap: 1rem;
}

#lessonDesc{
    text-align: center;
}

.resource{
    display: flex;
    justify-content: space-between;
    color: var(--text-colour);
}

.dropbtn{
    width: 100%;
    background-color: var(--secondary-colour);
    border: 0;
    box-shadow: none;
}

.dropbtnActive{
    width: 100%;
    background-color: var(--secondary-colour);
    border: 0;
    box-shadow: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.DropdownCollapsed{
    display: none;
}
    
.DropdownOpen{
    display: block;
    background-color: #13111D;
    color: var(--text-colour);
    border-bottom: 5px var(--secondary-colour) solid;
    border-left: 5px var(--secondary-colour) solid;
    border-right: 5px var(--secondary-colour) solid;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.dropdownarrow{
    width: 3%;
    transform: scaleY(1);
    transition: all 200ms;
}

.dropdownarrowActive{
    width: 3%;
    transform: scaleY(-1);
    transition: all 200ms;
}

.gap{
    padding-bottom: 1rem;
}


