/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/

/* COLOUR SCHEME */
/* Set up commonly used colours as variables for easy use */
:root {
    --background-colour: #05040A;
    --text-colour: #EDEBF5;
    --primary-colour: #A899DF;
    --secondary-colour: #38228D;
    --accent-colour: #5B39DB;
  }

/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

/* ALL PAGES ------------------------------------------------ */

html{
    background-color: var(--background-colour);
}


header{
    background-color: #13111D;
    min-width: 100%;
    padding: 20px !important; 
    /* !important tag overrides pico css */
}

nav{
    width: 100%;
}

.nav_image{
    height: 2rem;
    display: block;
    margin: 0 auto; 
    margin-bottom: 5px; 
}

nav ul#nav_links li{
    width: 6.5rem;
    text-align: center;
}

nav a{
    color: var(--primary-colour);
}

#page_title{
    font-size:xx-large;
}

.primaryText{
    color: var(--primary-colour);
}   

.defaultText{
    color: var(--text-colour);
}

.uppercase{
    text-transform: uppercase;
}

.primaryButton{
    background-color: var(--primary-colour) !important;
    border: 0 !important;
    color: var(--background-colour) !important;
    font-weight: bold !important;
}

.primaryButton:hover{
    background-color: #c2b1fd !important;
}

.formInputs{
    background-color: #221f35;
    border-color: var(--secondary-colour);
}

.formArticle{
    background-color: #13111D;
}

.formArticle h3{
    color: var(--primary-colour);
    text-align: center;
}

.formArticle p{
    color: var(--text-colour);
}

/* HOME PAGE -------------------------------------------------*/

.weekViewer{
    display: flex;
    /* Stacks days when display is too small */
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-colour);
}

.dayArticle{
    background-color:#13111D ;
    width: auto;
}

/* Adjust site display based off screen dimensions */
@media screen and (min-width: 700px) {
    /* Resizes and displays days in rows for larger screen sizes */
    .weekViewer{
        flex-direction: row;
    }
    
    .dayArticle{
        min-height: 30rem;
        width: 19%;
    }     
}


.dayArticle:hover{
    background-color: #221f35 ;
}

/* Displays a shortened format of the day name Monday = Mon when screen is small */
.dayLong {
    display: none;
}

.dayShort {
    display: inline;
}

@media screen and (min-width: 1536px) {
    /* Adjusts text to full length when screen can fit it */
    .dayLong {
        display: inline;
    }
    
    .dayShort {
        display: none;
    }
}

.lessonDisplay {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.lessonDisplay .lessonTime {
    color: var(--primary-colour);
    font-size: 0.8em;
    border-top: 2px solid var(--primary-colour);
}

.lessonDisplay .lessonName {
    font-weight: bold;
    color: var(--text-colour);
}

h1{
    color: var(--text-colour);
}


/* DAY -------------------------------------------------------*/

section#DayHeader {
    display: flex;
    gap: 1rem;
}

.lessonDesc{
    text-align: center;
    color: var(--text-colour);
    overflow-wrap: anywhere ;
}

.resources{
    text-align: center;
    background-color: #211E31;
    width: 60%;
}

.displayedResource{
    background-color: var(--secondary-colour) !important;
    width: 100%;
    border: 0 !important;
    text-align: center;
    border-radius: 10px;
    padding: 3px !important;
    margin: -5px !important;
}

.displayedResource:hover{
    background-color: #442ba7 !important;
}

/* Default Dropdown heading style */
.dropbtn{
    margin-bottom: 1rem;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary-colour);
    border: 0;
    box-shadow: none;
    align-items: center;
}

/* Open Dropdown heading style */
.dropbtnActive{
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary-colour);
    border: 0;
    box-shadow: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Dropdown Content invisible when closed */
.DropdownCollapsed{
    display: none;
}
    
/* Dropdown Content renders and styles when open */
.DropdownOpen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #13111D;
    color: var(--text-colour);
    border-bottom: 5px var(--secondary-colour) solid;
    border-left: 5px var(--secondary-colour) solid;
    border-right: 5px var(--secondary-colour) solid;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

/* Dropdown arrow position */
.dropdownarrow{
    margin-top: -0.5rem;
    width: 3%;
    transform: scaleY(1);
    transition: all 200ms;
}

/* Active dropdown arrow position */
.dropdownarrowActive{
    margin-top: -0.5rem;
    width: 3%;
    transform: scaleY(-1);
    transition: all 200ms;
}

.deleteLesson{
    width: 100%;
}


/* RESOURCES ------------------------------------------------------------------- */

#resourceArticle{
    background-color: #13111D;
    color: var(--text-colour);
}

.resource{
    display: flex;
    justify-content: space-between;
    color: var(--text-colour);
    
}

.resourceDescription{
    background-color: #211E31;
    text-align: center;
}

.resourceDescription p{
    color: var(--text-colour);
}

/* Shortened Version of the resource name and link displays by default */
.ShortResource{
    display: block;
    color: var(--text-colour);
}

.LongResource{
    display: none;
}

/* Depending on screen width will change to full display of name and link for the resource */
@media screen and (min-width: 1200px) {
    .ShortResource{
        display: none;
    }

    .LongResource{
        display: block;
        color: var(--text-colour);
    }
}

.resourceButton{
    min-width: 20%;
}

/* CONFLICTS ------------------------------------------------------------------------------------- */

.conflict h4{
    color: var(--primary-colour);
    font-weight: bold;
}

.conflict li{
    padding-bottom: 3px;
    margin-bottom: 1em;
    border-bottom: var(--secondary-colour) 2px solid;
}

#conflictDelete{
    background-color: #13111D;
}

#conflictDelete a{
    width: 100%;
}

#conflictChange{
    background-color: #1a1727;
}

